<h1>NEW BAND</h1>

<form action="/bands/new" method="POST">
    <label for="name">Name</label>
    <input type="text" name="band[name]" id="name" value="">

    <input type="submit" value="Create Band"> 
</form>