.main-nav {
  display: flex; 
  justify-content: space-between; 
  padding: 10px;

}

.left-nav > ul,
.right-nav > ul {
  
  display: flex;
  align-items: center;
}

.left-nav {

  > ul {
    > li {
     padding: 10px;
     font-family: sans-serif;
     font-weight: bold; 
     font-size: 10px;
     cursor: pointer;
     text-transform: uppercase;
    }
  }

  span {
    margin: 10px;
  }
}

.right-nav  {

  > ul {

    > li {
      
    }

    > li:last-of-type {
      position: relative;
    }
  }
  
  i {
    font-size: 20px;
  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $lightest-gray;
}
