
<nav class="section-nav">
  <ul>
    <li>World</li>
    <li>San Francisco</li>
    <li>New York</li>
    <li>Bootcamp Prep</li>
    <li>Online</li>
    <li>Jumpstart</li>
    <li>Marketing</li>
    <li>Sales</li>
    <li>TalentMatch</li>
    <li>Alumni</li>
    <a href="#">All</a>
  </ul>
</nav>
